.containerlogin {
  width: 30%;
  margin: 180px auto;
  background-color: aquamarine;
  padding: 15px 30px;
}
.col {
  width: 80px;
  padding: 5px;
}
.col button {
  width: 100px;
  padding: 7px;
  display: inline;
}
input,
label,
select,
option {
  padding: 7px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: rgb(47, 47, 251);
}
.konten {
  margin-top: 20px;
  padding: 10px;
  background-color: beige;
}
.btnx {
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(202, 9, 9);
}
.col-md {
  width: 100%;
  padding: 5px;
}
button {
  font-size: 14px;
  padding: 7px;
  display: block;
  margin-left: 135px;
}

.form-select {
  padding: 7px;
}
